{% extends 'base.html' %}
{%load static%}
{% block content%}
<div class="back">
<form action="" method="POST" class="log-form" novalidate>
    {% csrf_token%}
    <h4 style="">Login To Donate</h4>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p class="er">{{error}}</p>
        {% endfor %}
    {% endif %}
    <h1></h1>
    {% for fm in form %}
        {{fm.label_tag}} <br>{{fm}} {{fm.errors|striptags}} <br><br>
    {% endfor %}
    <input class='btn btn-danger' type="submit" value="Login" style="font-weight: bold;color: black">
    <a class="btn btn-danger" href="{% url 'signup' %}" style="color: black"><b>Signup</b></a>
</form>
</div>

{% endblock %}
