.bg{
    background-image: url("../images/blood1.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    overflow: scroll;

}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.sign-form{
    margin-top: px;
    margin-left: 550px;
    margin-right: 500px;
    margin-bottom: 200px;
}
.back {
  width: 30%;
  border-radius: 50px;
  background-image: url("../images/login.jpg");
  padding: 55px;
  background-size: 1800px 900px;
  background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    margin-top: 100px;
    margin-left: 550px;
    margin-right: 500px;
    margin-bottom: 200px;
}

