{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body style="">
<h1 style="text-align: center;background-color: orange;color: white">Blood Management System</h1>
<div class="row">
<div class="col-md-4">
<form action="" method="POST" style="background-color: darkgray">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" style="margin-left: 130px">
</form>
</div>
<div class = 'col-md-7'>
{% if details %}
    <table class="table" style="color: blue ">
    <tr style="color: chocolate">
        <th>name</th>
        <th>age</th>
        <th>bd_gr</th>
        <th>gender</th>
        <th>address</th>
    </tr>
    {% for i in details %}
       <tr>
           <td><a href="update/{{ i.id }}">{{ i.name }}</a></td>
           <td>{{ i.age }}</td>
           <td>{{ i.blood_group }}</td>
           <td>{{ i.gender }}</td>
           <td>{{ i.address }}</td>
           <td><a class="btn btn-danger" href="delete/{{ i.pk }}">DELETE</a></td>
           <td><a class="btn btn-success btm-sm text-white" href='update/{{ i.pk }}'>EDIT</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
<h1>No Records</h1>
{% endif %}
</div>
</div>
</body>
</html>