{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Signup V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href={%static "images/icons/favicon.ico"%}/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={%static "vendor/bootstrap/css/bootstrap.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={%static "fonts/font-awesome-4.7.0/css/font-awesome.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={%static "fonts/Linearicons-Free-v1.0.0/icon-font.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={%static "vendor/animate/animate.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={%static "vendor/css-hamburgers/hamburgers.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={%static "vendor/animsition/css/animsition.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={%static "vendor/select2/select2.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={%static "vendor/daterangepicker/daterangepicker.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={%static "css/util.css"%}>
	<link rel="stylesheet" type="text/css" href={%static "css/main.css"%}>
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<h3 class="title">Registration Info</h3>
                    <form method="POST">
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Name" name="name">

                        </div>
                        <div class="input-group">
                            <input class="input--style-3 js-datepicker" type="text" placeholder="Birthdate" name="birthday">
                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="gender">
                                    <option disabled="disabled" selected="selected">Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="email" placeholder="Email" name="email">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Phone" name="phone">
                        </div>
                        <div class="p-t-10">
                            <button class="btn btn--radius btn--green" type="submit" >Submit</button>
                        </div>



				</form>

				<div class="login100-more" style="background-image: url({% static 'images/bg-01.jpg'%});">
				</div>
			</div>
		</div>
	</div>





<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>