{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <br><br><br>
    <h1 style="text-align: center;color: aliceblue">About</h1><br>
 <h5 style="color: aliceblue">I am <b class="text-warning ">Udaybhanu Masani</b> having 3 years of Python
    developer experience for global business, I offer the Technical expertise you are seeking for your python
    developer position.</p>
<p style="text-indent:100px;">Since earning my bachelor's degree in ECE from JNTUK University, I have served as a
    Python developer at <b class="text-warning">Ojas Company</b>, One of the biggest premier development firm.
    In this position, I have led Python development projects for clients in diverse industries including web
    development, manufacturing, Pharamaceutical, hospitality, retail and financial services.</p></h5>
        </p></div>


{% endblock %}