{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 style="text-align: center;color: white">RESUME</h1>
    <div class="container" style="color: white">
    <h5>VINOD KUMAR </h5>
    <h5>SOFTWARE DEVELOPER</h5>
    <h5>Contact Me @ 9010027126</h5>
    <h5>Mail Me @ kotha.vinodkumar11111@gmail.com</h5>
        <p>-----------------------------------------------------------------------------------------------------------------------------------------------</p>
<h5>PROFESSIONAL SUMMARY</h5>
<ul>
    <li>Experience in Analysis, Design, Development, Management and Validation of various stand-alone and  client-server applications.</li>
    <li>Experience in implementing Object-Oriented Python, Hash Tables (Dictionaries) and Multi  threading. </li>
    <li>Experience in installing software using pip command for python libraries and extensive usage of the  PEP8 coding convention. </li>
    <li>Good understanding on Django ORM and SQL Alchemy. </li>
<li>Experience in designing User Interfaces (UI) for websites and web applications using HTML5, CSS, JAVASCRIPT.  </li>
<li>Worked with varieties of Relational Databases (RDBMS) like SQLite, MySQL and Sql. ∙ Experience in using front-end technologies like HTML5, CSS3, Bootstrap and JavaScript..</li>
    Proficient working with Stored Procedures, Parameter types, Cursors, Functions and Views on  SQL Server, Oracle
<li>System design and development, Rapid Application Development (RAD) using MVT   pattern with design patterns, code review, release management.  </li>
<li>Experienced in developing web-based applications using Python. </li>
<li>Experience in working with PyCharm and SQL Server . </li>
<li>Experience in Software Configuration Management (Daily Build, Release and Testing methodology) using  tools like Git, Team Foundation Server (TFS), Visual Studio Team Services (VSTS).</li>
    <li>Experience in developing and monitoring Python Packages. Experience in generating reports using SQL Server Reporting Services. </li>
<li>Quick learner, problem-solving and troubleshooting capabilities. </li>
<li>Excellent Team player with good Communication and Interpersonal skills. </li>
</ul>
    <h5>QUALIFICATION</h5>
<p>Bachelor of Technology in Electronics and Communication Engineering at Gudlavalleru Engineering  College (2013-2017)
    B-TECH PROJECT.</p>
    <p>Title : Speech Enhancement Using Spectral Subtraction</p>
    <p>Aim : Enhancement of any input or output speech signal in the presence of  noisy environment.</p>
    <h5>CO-CURRICULAR ACTIVITIES</h5>
    <ul>
        <li>Participated in paper presentation on structural health monitoring system using wireless sensor  network in LBRCE</li>
        <li>Participated in workshop on internet of things (IOT) conducted in gudlavalleru engineering college PERSONAL STRENGTHS</li>

<li>Positive attitude</li>
        <li>Determined at work.</li>
<li>Ability to work under pressure.</li>
        <li>Disciplined.</li>
        <li>Self-motivated and learning skills through internet</li>
        <li>Good Communication skills</li>
    </ul>
        <h5>TECHNICAL SKILLS</h5>
        <p>Operating Systems:windows 7, windows 10, Windows Servers (2008, 2012, and 2016)
Framework
Django Framework .
Technologies
Python,HTML 5,
Web Technologies
HTML, HTML5, JSON, CSS 2.0/CSS 3,Web Services.</p>

<p>Programming Languages
C#,SQL, Python
Scripting Languages
Java Script, JQuery, Power Shell</p>
<p>Databases
Developm
ent
MS SQL Server
IDE Tools
PyCharm, SQL Server Management Studio.
Version Control
    GIT.</p>
        <h5>Roles & Responsibilities:</h5>
        <ul>
            <li>Involved in full life cycle of the project from requirements gathering, analyzing, designing, and  developing the application.</li>
            <li>Involved in building database model, APIs and views utilizing Python, in order to build an  interactive web based solution.</li>
            <li>Used data types like dictionaries, tuples and object -concepts based inheritance features for making  complex algorithms of networks.</li>
            <li>Developed Client/Server Applications on MVT (Model View Template) design pattern. </li>
            <li>Experience in Django MVT 2 application by creating Views, Template actions and Model classes.
            Responsible for designing and developing Python MVT application using Django Framework  framework.</li>
            <li>Developed Client/Server Applications on MVT (Model View Template) design pattern. Designed and developed the UI of the website using HTML, XHTML, AJAX, CSS and JavaScript. ∙ Expertise in client scripting languages like JavaScript, JQuery, JSON, DOJO, bootstrap, Angular.js. ∙ Designed and managed API system deployment using fast http server and Amazon AWS  architecture.</li>
            <li>Worked on Python Open stack API’s.</li>
            <li>Carried out various mathematical operations for calculation purpose using python libraries. ∙ Managed large datasets using Panda data frames and MySQL.</li>
            <li>Worked with JSON based REST Web services.</li>
            <li>Performed testing using Django’s Test Module.</li>
            <li>Creating unit test/regression test framework for working/new code.</li>
            <li>Using Subversion version control tool to coordinate team-development.</li>
            <li>Developed Views and Templates with Django view, controller and template language to create a  user-friendly website interface.</li>
            <li>Configured the Django admin site, dashboard and created a custom Django dashboard for end users  with custom look and feel.</li>
            <li>Used Python for JSON processing, data exchange and business logic implementation. ∙ Created UI using JavaScript and HTML5. Designed and developed data management system using  MongoDB.</li>
            <li>Used Python scripts to update the content in database and manipulate files.</li>
            <li>Proficient in Software Design and Development with a solid background in developing.</li>
        </ul>
            <h5>Environment:</h5>
<p>Python,Django, CSS, HTML, Bootstarp, JavaScript, DOM, JQuery Shell Scripts,
            SQL,MySQL,SQLITE Linux and Windows.</p>
        <h5>DECLARATION:</h5>
        <p>I here by declare that the above furnished information is authentic to the best of my knowledge.</p>
    </div>

{% endblock %}